<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Basic_Maven.Basic_Maven_ID.Rest_ApiTest"/>
      <class name="Basic_Maven.Basic_Maven_ID.AppiumTest"/>
      <class name="Basic_Maven.Basic_Maven_ID.selenuimTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
